<table>
    <tr>
        <td><img src="{{site.baseurl}}/images/outfits/shortoutfit.jpeg" height="60" alt=""></td>
        <td><a href="{{site.baseurl}}/clothes/home">Home</a></td>
        <td><a href="{{site.baseurl}}/clothes/outfitpicker">Outfit Picker</a></td>
        <td><a href="{{site.baseurl}}/clothes/visualization">Clothes Visualization</a></td>
        <td><a href="{{site.baseurl}}/clothes/finder">Clothes Finder</a></td>
        <td><a href="{{site.baseurl}}/clothes/privacypolicy">Clothes Finder Privacy Policy</a></td>
        
    </tr>
</table>