<table>
    <tr>
        <td><img src="{{site.baseurl}}/images/outfits/shortoutfit.jpeg" height="60" alt=""></td>
        <td><a href="{{site.baseurl}}/clothes/home">Home</a></td>
        <td><a href="{{site.baseurl}}/clothes/outfitpicker">Outfit Picker</a></td>
        <td><a href="{{site.baseurl}}/clothes/map">Map</a></td>
        
        <td><a href="{{site.baseurl}}/clothes/visualization">Visualization</a></td>

        <!-- <td><a href="{{site.baseurl}}/clothes/finder">Finder</a></td> -->
        <!-- <td><a href="{{site.baseurl}}/clothes/privacypolicy">Privacy Policy</a></td> -->
        
    </tr>
</table>